doctype html
head
  link(rel='stylesheet' type='text/css' href='vendors/css/normalize.css')
  link(rel='stylesheet' type='text/css' href='vendors/css/grid.css')
  link(rel='stylesheet' type='text/css' href='resources/css/style.css')
  link(rel='stylesheet' type='text/css' href='vendors/css/ionicons.min.css')
  link(href='https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css')
  // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  // Latest compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  link(rel='stylesheet' type='text/css' href='resources/css/cleaning.css')
  // <link rel="stylesheet" type="text/css" href="image.css">
  script(type='text/javascript' src='test.js')
  title Maintenance Platform
header
  nav
    .row
      img.logo(src='resources/img/logo-mp.png' alt='Omnifood logo')
      // links to different pages
      ul.main-nav
        li
          a(href='#section-meals') Services
        // scrolls down to services section
        li
          a(href='#') How it works
        li
          a(href='#review') Customer Reviews
        li
          a(href='#') Sign up
  .hero-text-box
    h1
      | #1 Cleaning service
      br
      |           Book us today!
    a.btn.btn-full(href='#') Book now!
    a.btn.btn-ghost(href='#') show me more
section.section-features
  .row
    h2 Wish you had more free time? &mdash; We can make it happen
    p.long-copy
      | We know you&rsquo;re always busy. No time to clean. So let us take care of
      | that, we&rsquo;re really good at it, we promise!
  .row
    .col.span-1-of-4.box
      i.ion-ios-infinite-outline.icon-big
      h3 24/7 SERVICE
      p
        | Never clean again! We really mean that. Order us whenever you need
        | and we will be at your doorstep today!
    .col.span-1-of-4.box
      i.ion-ios-bookmarks-outline.icon-big
      h3 Book
      p
        | Easiest way to book a service is online! Provide necessary details
        | while we take you through a quick booking journey. If you find it
        | difficult, call +88 0967 8772929. Our team should guide you through.
    .col.span-1-of-4.box
      i.ion-ios-checkmark-outline.icon-big
      h3 Confirm
      p
        | Get a call from our customer manager, confirm your schedule right
        | away!
    .col.span-1-of-4.box
      i.ion-ios-cart-outline.icon-big
      h3 Order anything
      p
        | Sit back and relax while a verified service professional do your job
        | and help you become more productive in life!
// services section with clickable images that loads new page
section#section-meals.section-meals
  h2 Repair and Maintenance
  ul.meals-showcase
    li
      figure.meal-photo.mm
        img(src='resources/img/electrical.jpg' alt='Aircon servicing')
        span.thumb-info-title
          span.thumb-info-inner Electrical
    li
      figure.meal-photo.mm
        img(src='resources/img/plumbing.jpg' alt='Plumbing support')
        span.thumb-info-title
          span.thumb-info-inner Plumbing
    li
      figure.meal-photo.mm
        img(src='resources/img/cleaning.jpg' alt='Dust cleaning')
        span.thumb-info-title
          span.thumb-info-inner Cleaning Services
    li
      figure.meal-photo.mm
        img(src='resources/img/appliances.jpg' alt='appliances servicing')
        span.thumb-info-title
          span.thumb-info-inner Appliance Servicing
  h2 Interior Works
  ul.meals-showcase
    li
      figure.meal-photo
        img(src='resources/img/carpentry.jpg' alt='Home Carpentry works')
        span.thumb-info-title
          span.thumb-info-inner Carpentry
    li
      figure.meal-photo
        img(src='resources/img/pest2.jpg' alt='Indoor glassworks')
        span.thumb-info-title
          span.thumb-info-inner Pest Control
    li
      figure.meal-photo
        img(src='resources/img/homeshift.png' alt='Home shifting')
        span.thumb-info-title
          span.thumb-info-inner Movers
    li
      figure.meal-photo
        img(src='resources/img/painting.jpg' alt='Indoor painting')
        span.thumb-info-title
          span.thumb-info-inner Painting
// customer comments and reviews with owl carousel
#review.demo
  .reviews
    h2 Reviews
  .container
    .row
      .col-md-12(style='position:relative;bottom:180px;')
        #testimonial-slider.owl-carousel
          .testimonial
            span.icon.fa.fa-quote-left
            p.description
              | Maintenance Platform is my go to place for any kind of home maintenance work. Would recommend it to everyone.
            .testimonial-content
              .pic
                img(src='https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg' alt='')
              h3.title Fahim
              span.post Businessman
          .testimonial
            span.icon.fa.fa-quote-left
            p.description
              | No doubt, best in the town! Wish you all the best.&rdquo;
              br
              br
              br
            .testimonial-content
              .pic
                img(src='https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg' alt='')
              h3.title Talha
              span.post Web Designer
          .testimonial
            span.icon.fa.fa-quote-left
            p.description
              | Loved their service. Affordable, professional and friendly. Highly recommend their service if you need.
            .testimonial-content
              .pic
                img(src='https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg' alt='')
              h3.title Samiul
              span.post Doctor
          .testimonial
            span.icon.fa.fa-quote-left
            p.description
              | Very professional and quick at responding, the charges are very user friendly too. Highly recommended!
            .testimonial-content
              .pic
                img(src='https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg' alt='')
              h3.title Tanvir
              span.post Web Developer
          .testimonial
            span.icon.fa.fa-quote-left
            p.description
              | The service was really good. Service team were very cooperative and efficient. Really happy by taking your service Will use more.
            .testimonial-content
              .pic
                img(src='https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg' alt='')
              h3.title Sakib
              span.post Artist
          .testimonial
            span.icon.fa.fa-quote-left
            p.description
              | Very quick &amp; responsive, the team completed the sofa cleaning service and made it like a new one! Good job team ThatQuick Ltd.
            .testimonial-content
              .pic
                img(src='https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg' alt='')
              h3.title Tausif
              span.post Teacher
.footer
  strong Maintenance Platform
script(type='text/javascript' src='https://code.jquery.com/jquery-1.12.0.min.js')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js')
